<main class="block w-full h-full overflow-hidden">
  <app-recipe-slider [category]="'seafood'"></app-recipe-slider>
  <app-recipe-slider [category]="'beef'"></app-recipe-slider>
  <app-recipe-slider [category]="'chicken'"></app-recipe-slider>
  <app-recipe-slider [category]="'pasta'"></app-recipe-slider>
  <app-recipe-slider [category]="'lamb'"></app-recipe-slider>
  <app-recipe-slider [category]="'breakfast'"></app-recipe-slider>
  <app-recipe-slider [category]="'dessert'"></app-recipe-slider>
</main>
